
/*  */
/* Styles for fully golden stars */
.gold {
    color: gold;
  }

/* Styles for partially golden stars */
.partial {
    position: relative;
    color: rgb(240, 238, 227); /* Set the color to gold */
    width: 16px; /* Adjust the width of the star icon */
    height: 16px; /* Adjust the height of the star icon */
  }

  @media only screen and (max-width: 999px){
    .headerWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding-bottom:4vh;
        margin: 2px auto;
        border-radius: 1%;
        background-image: linear-gradient( rgba(17, 17, 17), rgba(77, 73, 73, 0.5)), url("/human-hand-typing-computer-keyboard-night-generated-by-ai.webp");
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        top: 0;
        padding: 0;
        margin:0;
        box-shadow: 0px 0px 1px 2px #3333335b;
        border-bottom-right-radius:2%;
        border-bottom-left-radius:2%;
    
    }
    .me{
        position: relative;
        margin-top: 330px;
        flex: 1;
    }
    
    .me h1{
        font-size: 1.99em;
        font-weight: 700;
        color: #ffffff;
        flex: 1;
    } 

    .me h3{
        font-size: 1.3em;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        flex: 1;
    }

    .img{
        top: 0px;
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(rgba(30, 30, 31, 0.8),rgba(209, 209, 219, 0.5));
        border-bottom-right-radius:10%;
        border-bottom-left-radius:10%;
        width: 100%;
        flex: 3;
        height: 30vh;
        padding: 20px 20px -2px 20px;

    }

    .img .imgLight{
        top: 20px;
        position: relative;
        border-radius: 50%;
        flex: 3;
        padding: 2px;
        width: 170;
        height: 170;
        background-color: azure;
    }

    .socialHandles{
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        
    }
    .socialHandles svg{
        width: 30px;
        height: 30px;
    }
    .socialHandles .linkedin{
        color: rgb(226, 226, 236);
        font-size: 1.2em;
        text-decoration: none;
    }
    .socialHandles .linkedin span{
        font-size: 0.8em;
    }

    .socialHandles .twitter {
        color: rgb(248, 242, 242);
        text-decoration: none;
    }
    .socialHandles .github{
        color: rgb(240, 234, 234);
        text-decoration: none;
        font-size: 1.4em;
    }
    .socialHandles .github span{
        font-size: 0.7em;
    }


    .aboutMe{
        box-shadow: 5px 5px 20px 1px rgba(236, 230, 230, 0.3);
        margin: 10px 9px;
        padding: 4px;
        border-radius: 5px;
    }

    .aboutMe h2{
        font-size: 1.5em;
        font-weight: 700;
        color: #ffffff;
        margin: 1px 0 0 2px;
        padding: 2px 6px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
    .aboutMe p{
        font-size: 1em;
        font-weight: 400;
        color: #d3cdcd;
        margin: 1px 0 0 2px;
        padding: 2px 6px;
        text-align: justify;
    }
    .skills{
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
        margin: 10px 9px;
        padding: 4px;
        background-image: linear-gradient( rgba(32, 32, 32, 0.6), rgba(17, 17, 17, 0.9)), url("/bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .skills h2{
        font-size: 1.5em;
        font-weight: 700;
        color: #d3cdcd;
        margin: 1px 0 0 2px;
        padding: 2px 6px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
    .skills div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 1px 0 0 2px;
        padding: 2px 2px;
        list-style: none;
        color: #d3cdcd;
    }

    .skills div div{
        
        margin: 1px 0 0 2px;
        padding: 2px 2px;
        flex-wrap: nowrap;
        
    }
    .skills div div p{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;   
        font-size: 1em;
        color: #d3cdcd;
        font-weight: 400;
        flex-wrap: nowrap;

    }
    .skills div div p span span svg{
        font-size: 0.9em;
    }

    .projects{
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
        margin:10px auto;
        padding: 10px;
        background-image: linear-gradient( rgba(32, 32, 32, 0.6), rgba(17, 17, 17, 0.9)), url("/projects_1.webp");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .projects h2{
        font-size: 1.5em;
        font-weight: 700;   
        color: #ffffff;
        margin: 1px 0 0 2px;
        padding: 2px 6px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
    
    .projects div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1px 0 0 2px;
        padding: 2px 2px;
        list-style: none;
        color: #d3cdcd;
    }
    .projects div div{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 1px 0 0 2px;
        padding: 0;
        font-size: 1em;
        font-weight: 600;
               
    }
    .projects div h3{
        text-align: center;
        font-size: 1.4em;
        color: #ffffff;
    }
    .projects div .imgProject{
        width: 300px;
        height: 200px;
    }
    .projects div .imgProject:hover{
        width: 310px;
        height: 205px;
        transition: transform 0.5s ease;
    }

    .contact{ 
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
        margin:10px auto;
        padding: 10px;
        background-image: linear-gradient( rgba(32, 32, 32, 0.6), rgba(17, 17, 17, 0.9)), url("/contactus.webp");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .contact h2{
        font-size: 2em;
        font-weight: 700;   
        color: #ffffff;
        margin: 1px 0 0 2px;
        padding: 2px 6px;
        text-align: center;
    }
    
    .contact .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
        padding: 10px;
        font-weight: 600;
        height: 60vh;
    }
    
    .contact form div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 5px;
        
    }
    .contact form div label{
        padding: 2px;
        flex: 1;
        font-size: 1.3em;
        color: #ffffff;
    }
    .contact form div input{
        flex: 3;
        padding: 2px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.8);
        margin: 1px 0 0 2px;
        height: 36px;
        font-size: 1.5em;
    
    }
    
    .contact .form input[type="submit"] {
       background-color: rgb(66, 66, 212);
       border: none;
       color: white;
       padding: 6px 8px;
       text-align: center;
       border-radius: 2px;
       font-size: 1.5em;
    }
    
    .contact form div input:focus{
        flex: 3;
        padding: 4px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.8);
        margin: 1px 0 0 2px;
        outline: none;
    }
    .contact form div textarea {
        flex: 3;
        padding: 2px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.8);
        margin: 1px 0 0 2px;
        height: auto; /* Change height to 'auto' to allow the textarea to expand vertically */
        min-height: 36px; /* Set a minimum height */
        font-size: 1.5em;
    }
    
    .contact form div textarea:focus{
        flex: 3;
        padding: 10px;
        height: 100px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.8);
        margin: 1px 0 0 2px;
        outline: none;
        text-align: left;
        font-size: 1.4em;
    }
    .experiences{
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
        margin:10px auto;
        padding: 10px;
        background-image: linear-gradient( rgba(32, 32, 32, 0.6), rgba(17, 17, 17, 0.9)), url("/experiences.webp");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
    }
    .experiences h2{
        font-size: 1.5em;
        font-weight: 700;   
        text-align: center;
        color: #ffffff;
        margin: 1px 0 0 2px;
        padding: 2px 6px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
    .experiences div{
        margin: 10px 9px;
        padding: 5px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    
    }
    
    .experiences div .myExperiences{
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.2);
        margin: 10px 9px;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    
    }
    
    .experiences div .myExperiences h3{
        font-size: 1.2em;
        font-weight: 700;   
        color: #ffffff;
        margin: 1px 0 0 2px;
    
    }
    .experiences div .myExperiences p{
        font-size:1em ;
        color: #ffffff;
        font-weight: 560;
    }
    .experiences div .myExperiences ul li{
        font-size:1em ;
        font-weight: 500;
        list-style:circle;
        color: #ffffff;
    }
    .experiences div .myExperiences .buttonReadmore{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        
    }
    .experiences .myExperiences .buttonReadmore .button{
        width: 50%;
        margin: 1px;
    
    }
    .languages{
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
        margin: 10px 9px;
        padding: 4px;
        border-radius: 5px;
        display: none;
    }
    .languages h2{
        font-size: 1.5em;
        font-weight: 700;   
        color: #000;
        margin: 1px 0 0 2px;
        padding: 2px 6px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
    .languages ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 1px 0 0 2px;
        padding: 0;
        font-size: 1em;
        font-weight: 600;
    }
    .languages ul li{
        list-style: none;
        font-size: 1.3em;
        padding: 10px;
    }
    .educations{
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
        margin: 10px 9px;
        padding: 4px;
        border-radius: 5px;
        display: none;
    }
    .educations h2{
        font-size: 1.5em;
        font-weight: 700;   
        color: #000;
        margin: 1px 0 0 2px;
        padding: 2px 6px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
    .educations .degreeCard{
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.1);
        margin: 10px 9px;
        padding: 4px;
        border-radius: 5px;
    }

    .educations .degreeCard h3{
        font-size: 1.4em;
        font-weight: 600;   
        color: #000;
        margin: 1px 0 0 2px;
        padding-top: 4px;
        padding-left: 10px;
    }
    .educations .degreeCard h4{
        font-size: 1.25em;
        font-weight: 570;   
        color: #000;
        margin: 1px 0 0 2px;
        padding-top: 3px;
        padding-left: 10px;
    }
    .educations .degreeCard h5{
        font-size: 1.15em;
        font-weight: 550;   
        color: #000;
        margin: 1px 0 0 2px;
        padding-top: 2px;
        padding-left: 10px;
    }
    .footer{
        position: relative;
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
        padding-top: 20px;
        width: 100%;
        height: 10vh;
        background-color: rgb(59, 58, 58);
    }

    .footer a{
        margin: 10px;
        text-decoration: none;
        color: #fff;
        font-size: 1.2em;
        font-weight: 600;
        padding: 10px;
        background-color: rgb(182, 108, 12);
        border-radius: 5px;
    }

    .footer p{
        text-align: center;
        color: #fff;
        font-size: 1.3em;
    }
    
   
}

@media only screen and (min-width: 1000px) {
.headerWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 100vh;
    padding-bottom:4vh;
    margin: 4vh auto;
    border-radius: 1%;
    background-image: linear-gradient( rgba(17, 17, 17), rgba(77, 73, 73, 0.5)), url("/human-hand-typing-computer-keyboard-night-generated-by-ai.webp");
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header .me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 5px 5px 20px 1px rgba(240, 239, 239, 0.1);
    flex:1;
}
.header .me h1{
    font-size: 2em;
    font-weight: 700;
    color: #ffffff;
    margin: 1px 0 0 2px;
    padding: 2px 6px;
    border-bottom: 1px solid rgba(238, 230, 230, 0.8);
}
.header .me h3{
    font-size: 1.2em;
    font-weight: 700;
    margin: 1px 0 0 2px;
    padding: 10px 6px;
    color: #ffffff;
}

.header .img .imgLight{
    flex: 1;
    border-bottom-left-radius: 1%;
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin: 0px 0 0 10px;
}

.header .socialHandles{
    flex:0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.header .socialHandles p{
    margin: 10px 0 0 10px;

    
}
.header .socialHandles .linkedin{
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(241, 241, 243);
    text-decoration: none;
}

.header .socialHandles .twitter{
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(230, 223, 223);
    text-decoration: none;

}
.header .socialHandles .github{
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(224, 219, 219);
    text-decoration: none;
}
.header .socialHandles .github:hover  {
    transform: scale(1.1);
    font-size: 1.55em;
}

.header .socialHandles .twitter:hover{
    transform: scale(1.1);
    font-size: 1.55em;

}
.header .socialHandles .linkedin:hover{
    transform: scale(1.1);
    font-size: 1.55em;

}


.aboutMe{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    width: 80%;
    box-shadow: 5px 5px 20px 1px rgba(228, 222, 222, 0.14);
    padding: 10px;

}
.aboutMe h2{
    font-size: 2em;    
    font-weight: 700;
    color: #ffffff;
    margin: 1px 0 0 2px;
}
.aboutMe p{
    font-size: 1.5em;
    font-weight: 500;
    color: #ffffff;
    margin: 1px 0 0 2px;
    padding: 2px;    

}
.skills{
    width: 80%;   
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
    margin:10px auto;
    padding: 10px;
    height: 80vh;
    background-image: linear-gradient( rgba(32, 32, 32, 0.6), rgba(17, 17, 17, 0.9)), url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.skills h2{
    font-size: 2em;    
    font-weight: 700;
    color: #ffffff;
    margin: 1px 0 0 2px;
    padding: 2px 6px;
    text-align: center;
    
}
.skills div{
    display: flex;
    flex-direction: row;;
    align-items:flex-start;   
    justify-content: space-evenly;
    margin: 1px 0 0 2px;
    list-style: none;
    
   
}

.skills div div{
    display: flex;
    flex-direction: column;
    list-style: none;
    
   
}
 
.skills div div p{
    display: flex;
    flex-direction: column; 
    padding: 10px;
    color:#ffffff;
    font-size: 1.2em;
    
}
.skills div div {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    font-weight: 600;
}
.projects{
    width: 80%;   
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
    margin:10px auto;
    padding: 10px;
    background-image: linear-gradient( rgba(32, 32, 32, 0.6), rgba(17, 17, 17, 0.9)), url("/projects_1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.projects h2{
    font-size: 2em;
    font-weight: 700;   
    color: #ffffff;
    margin: 1px 0 0 2px;
    text-align: center;
    padding: 2px 6px;
    /* border-bottom: 1px solid rgba(226, 220, 220, 0.8); */
}

.projects  div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 1px 0 0 2px;
    padding: 0;
    font-weight: 600;
           
}
.projects div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 1px 0 0 2px;
    font-weight: 600;
           
}
.projects div h3{
    text-align: center;
    font-size: 1.45em;
    color: #ffffff;
}
.projects div .imgProject{
    max-width: 300pxpx;
    max-height: 250px;
    width: 299px;
    height: 249px;
    overflow: hidden;
}
.projects div .imgProject:hover{
    width: 300px;
    height: 250px;
    transition: transform 0.5s ease;
    transform: scale(1.1);

    
}

.contact{
    width: 80%;   
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
    margin:10px auto;
    padding: 10px;
    height: 80vh;
    background-image: linear-gradient( rgba(32, 32, 32, 0.6), rgba(17, 17, 17, 0.9)), url("/contactus.webp");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.contact h2{
    font-size: 2em;
    font-weight: 700;   
    color: #ffffff;
    margin: 1px 0 0 2px;
    padding: 2px 6px;
    text-align: center;
}

.contact .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    width: 40%;
    height: 60vh;
}

.contact form div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 5px;
    width: 90%;
    
}
.contact form div label{
    padding: 2px;
    flex: 1;
    font-size: 1.5em;
    color: #ffffff;
}
.contact form div input{
    flex: 3;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 1px 0 0 2px;
    height: 36px;
    font-size: 1.5em;

}

.contact .form input[type="submit"] {
   background-color: rgb(66, 66, 212);
   border: none;
   color: white;
   padding: 6px 8px;
   text-align: center;
   border-radius: 2px;
   font-size: 1.5em;
}

.contact form div input:focus{
    flex: 3;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 1px 0 0 2px;
    outline: none;
}
.contact form div textarea{
    flex: 3;


}
.contact form div textarea:focus{
    flex: 3;
    padding: 10px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 1px 0 0 2px;
    outline: none;
    text-align: left;
    font-size: 1.4em;
}
.experiences{
    width: 80%;   
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
    margin:10px auto;
    padding: 10px;
    background-image: linear-gradient( rgba(32, 32, 32, 0.6), rgba(17, 17, 17, 0.9)), url("/experiences.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
.experiences h2{
    font-size: 2em;
    font-weight: 700;   
    text-align: center;
    color: #ffffff;
    margin: 1px 0 0 2px;
    padding: 2px 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.experiences div{
    margin: 10px 9px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;

}

.experiences div .myExperiences{
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.2);
    margin: 10px 9px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}

.experiences div .myExperiences h3{
    font-size: 1.4em;
    font-weight: 700;   
    color: #ffffff;
    margin: 1px 0 0 2px;

}
.experiences div .myExperiences p{
    font-size:1.2em ;
    color: #ffffff;
    font-weight: 560;
}
.experiences div .myExperiences ul li{
    font-size:1.2em ;
    font-weight: 500;
    list-style:circle;
    color: #ffffff;
}
.experiences div .myExperiences .buttonReadmore{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.experiences .myExperiences .buttonReadmore .button{
    width: 35%;
    margin: 1px;

}
.languages{
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
    display: none;
    flex-direction: column;
}
.languages h2{
    font-size: 3em;
    font-weight: 700;   
    color: #000;
    margin: 1px 0 0 2px;
    padding: 2px 6px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.languages ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1px 0 0 2px;
    padding: 0;
    font-size: 1em;
    font-weight: 600;
}
.languages ul li{
    list-style: none;
    font-size: 1.5em;
    padding: 10px;
}
.educations{
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
    display: none;
    flex-direction: column;
}
.educations h2{
    font-size: 3em;
    font-weight: 700; 
    text-align: center;  
    color: #000;
    margin: 1px 0 0 2px;
    padding: 2px 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.educations .degreeCard{
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.1);
    margin: 10px 9px;
    padding: 4px;
    border-radius: 5px;
}

.educations .degreeCard h3{
    font-size: 1.9em;
    font-weight: 600;   
    color: #000;
    margin: 1px 0 0 2px;
    padding-top: 4px;
    padding-left: 10px;
}
.educations .degreeCard h4{
    font-size: 1.6em;
    font-weight: 570;   
    color: #000;
    margin: 1px 0 0 2px;
    padding-top: 3px;
    padding-left: 10px;
}
.educations .degreeCard h5{
    font-size: 1.4em;
    font-weight: 550;   
    color: #000;
    margin: 1px 0 0 2px;
    padding-top: 2px;
    padding-left: 10px;
}
.footer{
    position: relative;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0,0.4);
    padding-top: 20px;
    width: 100%;
    height: 10vh;
    background-color: rgb(59, 58, 58);
}


.footer p{
    text-align: center;
    color: #fff;
    font-size: 1em;
}

   
}
